@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MrFixIt.Models.Job>
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>


<div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
        <thead>
            <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
            <tr>
                <th>Title</th>
                <th>Current Worker</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        @foreach(var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                @if(job.Worker == null)
                {
                    <td class="name">Unclaimed</td>

                }
                else
                {
                    <td>@job.Worker.FirstName</td>

                }
                <td>@job.Description</td>
                @if(job.Worker == null)
                {
                    <td class="text-center action-row"><button id="@job.JobId" class="btn btn-info btn-xs claim" ><span class="glyphicon glyphicon-ok"></span> Claim</button></td>

                }
                else
                {
                    <td class="text-center action-row"><button id="@job.JobId" class="btn btn-success btn-xs finish" ><span class="glyphicon glyphicon-plus"></span> Finish</button></td>

                }
            </tr>

        }
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.claim').click(function () {
            var clickedId = this.id
            console.log(clickedId);
            $.ajax({
                type: 'POST',
                data: { jobId: 3 },
                dataType: 'json',
                url: '@Url.Action("Claim", "Jobs")',
                success: function (result) {
                    console.log(result);
                    $(".name").text(result.worker.firstName);
                    $(".action-row").empty().append("<button id=" + result.jobId + " class='btn btn-success btn-xs finish'><span class='glyphicon glyphicon-plus'></span> Finish</button>");
                }
            });
        });
    });
</script>

