@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MrFixIt.Models.Job>
<div class="text-center">
    <h3>Our Current Jobs</h3>
</div>


<div class="row col-md-10 col-md-offset-1 custyle">
    <table class="table table-striped custab">
        <thead>
            <a href="/Jobs/Create" class="btn btn-primary btn-xs pull-right"><b>+</b> Add New Job</a>
            <tr>
                <th>Title</th>
                <th>Current Worker</th>
                <th>Description</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        @foreach(var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                @if(job.Worker == null)
                {
                    <td>Unclaimed</td>

                }
                else
                {
                    <td>@job.Worker.FirstName</td>

                }
                <td>@job.Description</td>
                @if (User.Identity.IsAuthenticated)
                {
                    @if(job.Worker == null)
                    {
                        <td class="text-center action-row"><button id="@job.JobId" class="btn btn-info btn-xs claim" ><span class="glyphicon glyphicon-ok"></span> Claim</button></td>

                    }
                    else
                    {
                        @if (User.Identity.Name == job.Worker.UserName)
                        {
                            <td class="text-center action-row"><button id="@job.JobId" class="btn btn-success btn-xs finish" ><span class="glyphicon glyphicon-plus"></span> Finish</button></td>
                        }

                    }
                }
            </tr>

        }
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.claim').click(function () {
            var clickedId = this.id
            console.log(clickedId);
            $.ajax({
                type: 'POST',
                data: { jobId: clickedId },
                dataType: 'json',
                url: '@Url.Action("Claim", "Jobs")',
                success: function (result) {
                    console.log(result);
                    $("#" + result.jobId).parent().prev().prev().text(result.worker.firstName);
                    $("#" + result.jobId).parent().empty().append("<button id=" + result.jobId + " class='btn btn-success btn-xs finish'><span class='glyphicon glyphicon-plus'></span> Finish</button>");
                }
            });
        });

        $('.action-row').on('click', '.finish', function () {
            var clickedId = this.id
            console.log(clickedId);
            $.ajax({
                type: 'POST',
                data: { jobId: clickedId },
                dataType: 'json',
                url: '@Url.Action("Finish", "Jobs")',
                success: function (result) {
                    console.log(result);
                    $("#" + result.jobId).parents("tr").remove();
                }
            });
        });
    });
</script>

